    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a class="side-nav-link" href="#">List</a></li>
            <li><a class="side-nav-link" href="#bands/0">Create</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="side-nav-link" href="#bands/missing/facebook_id">Missing Facebook Id</a></li>
            <li><a class="side-nav-link" href="#bands/missing/lastfm_id">Missing Lastfm Id</a></li>
            <li><a class="side-nav-link" href="#bands/bad/facebook_likes">Bad Facebook Id</a></li>
            <li><a class="side-nav-link" href="#bands/bad/lastfm_listeners">Bad Lastfm Id</a></li>
            <li><a class="side-nav-link" href="">Duplicates</a></li>
            <li><a class="side-nav-link" href="#bands/import/load">Import</a></li>
          </ul>
        </div>
