    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a href="#">Logs</a></li>
            <li><a href="#">Job Stats</a></li>
            <li><a href="#">Site Stats</a></li>
            <li><a href="#">User Stats</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="">Charts</a></li>
            <li><a href="">Analytics</a></li>
            <li><a href="">Reports</a></li>
            <li><a href="">Import</a></li>
            <li><a href="">Export</a></li>
          </ul>
        </div>
