    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview</a></li>
            <li><a class="side-nav-link" href="#jobs_log">Logs</a></li>
            <li><a class="side-nav-link" href="#">Job Stats</a></li>
            <li><a class="side-nav-link" href="#">Site Stats</a></li>
            <li><a class="side-nav-link" href="#">User Stats</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a class="side-nav-link" href="">Charts</a></li>
            <li><a class="side-nav-link" href="">Analytics</a></li>
            <li><a class="side-nav-link" href="">Reports</a></li>
            <li><a class="side-nav-link" href="">Import</a></li>
            <li><a class="side-nav-link" href="">Export</a></li>
          </ul>
        </div>
