<ol class="breadcrumb">
  <li><a href="#bands">Bands</a></li>
  <li class="active"><%= band_name %></li>
</ol>

<div id="band-detail-content" class="row">
	    <ul class="list-inline">

	      <li style="vertical-align: top">
		  <div style="width: 300px">
                  <div class="well">
		  <p><img id="picture" width="250" src="<%= band_image_src === null ? 'pics/generic.jpg' : band_image_src  %>"/></p>
		  <p>To change the picture, drag a new picture from an external source on this page.</p>
		  </div>
		  </div>
	      </li>

	      <li>
		 <div style="width: 300px">
           <div class="form-group">
             <label for="bandId" class="control-label">Id:</label>
             <input id="bandId" class="form-control" type="text" value="<%= band_id === null ? '' : band_id %>" class="span2" disabled/>
		   </div>
		
           <div class="form-group">
              <label for="band-name" class="control-label">Name:</label>
             <input id="band-name" class="form-control" type="text" value="<%= band_name %>"/>
		   </div>

           <div class="form-group">
              <label for="band-url" class="control-label">Band Url:</label>
             <input id="band-url" class="form-control" type="text" value="<%= band_url %>"/>
		   </div>

    <!-- genres controls -->
                 <div class="input-group">
                 <input id="genre-typeahead" type="text" class="form-control tt-input-with-btn" value="" placeholder="Genres...">
                 <span class="input-group-btn">
                 <button id="btn-add-genre" class="btn btn-default" type="button">Add</button>
                 </span>
                 </div><!-- /input-group -->

                 <% for (var i = 0; i < genres.length; i++) { %>
                 <% var genre = genres[i]; %>
                 <span class="label label-default genres btn-delete-genre" data-genre="<%= genre %>"><%= genre %></span>
                 <% } %>
    <!-- end genres controls -->

    <!-- region controls -->
                 <div class="input-group">
                 <input id="region-typeahead" type="text" class="form-control tt-input-with-btn" value="" placeholder="Regions...">
                 <span class="input-group-btn">
                 <button id="btn-add-region" class="btn btn-default" type="button">Add</button>
                 </span>
                 </div><!-- /input-group -->

                 <% for (var i = 0; i < regions.length; i++) { %>
                 <% var region = regions[i]; %>
                 <span class="label label-default regions btn-delete-region" data-region="<%= region %>"><%= region %></span>
                 <% } %>
    <!-- end region controls -->

                 <div class="form-group">
                 <label for="active" class="control-label">Active: </label>
                 <input class="form-control" type="checkbox" id="active" value="true" <%= active == "true" ? 'checked' : '' %>/>
                 </div>

		<div class="input-group" style="width: 100%">
		<label class="control-label">Created: </label>
		<span class="label label-info pull-right"><%= created %></span>
		</div>

		<div class="input-group" style="width: 100%">
		<label class="control-label">Last Updated: </label>
		<span class="label label-info pull-right"><%= last_updated %></span>
		</div>

		</div>
	     </li>
 	</ul>

        <div class="form-actions">
            <a id='band-save' class="btn btn-primary save">Save</a>
            <a id='band-delete' class="btn delete">Delete</a>
        </div>


</div>

<div id="stats-content row">

  <ul class="list-unstyled"> 

    <li class="col-md-12">
      <div id="running-stats-chart-content">
      </div>
    </li>

    <li class="col-md-6">
      <div id="facebook-stats-content">
      </div>
    </li>

    <li class="col-md-6">
      <div id="lastfm-stats-content">
      </div>
    </li>

    <li class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Facebook Detailed Stats</h3>
        </div>
        <div id="facebook-stats-table" class="panel-body">
        </div>
      </div>
    </li>

    <li class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Lastfm Detailed Stats</h3>
        </div>
        <div id="lastfm-stats-table" class="panel-body">
        </div>
      </div>
    </li>

    <li class="col-md-6">
      <div id="mentions-stats-content">
      </div>
    </li>

    <li class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Article Mentions Stats</h3>
        </div>
        <div id="mentions-stats-table" class="panel-body">
        </div>
      </div>
    </li>

  </ul>

</div>
