<h3>Bands</h3>

<div class="pull-right">
  <button id="btn-tile-view" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-th"></span> Tile 
  </button>
  <button id="btn-gallery-view" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-th-list"></span> Gallery
  </button>
  <button id="btn-list-view" type="button" class="btn btn-default">
    <span class="glyphicon glyphicon-align-justify"></span> List
  </button>
</div>

<div id="bands-page-content"></div>

