  <td>
    <a class="band-detail-link" href="#bands/<%= band_id %>" class="list plain">
      <h5><%= band_name %></h5>
    </a>
  </td>

  <td>
    <% for (var i = 0; i < genres.length; i++) { %>
      <% var genre = genres[i]; %>
      <span class="label label-default genres btn-delete-genre" data-genre="<%= genre %>"><%= genre %></span>
    <% } %>
  </td>

  <td>
    <% for (var i = 0; i < regions.length; i++) { %>
      <% var region = regions[i]; %>
      <span class="label label-default regions btn-delete-region" data-region="<%= region %>"><%= region %></span>
    <% } %>
  </td>

  <td><%= running_stats.facebook_likes.current %> / <%= running_stats.facebook_likes.incremental_avg %></td>
  <td><%= running_stats.lastfm_listeners.current %> / <%= running_stats.lastfm_listeners.incremental_avg %></td>
  <td><%= mentions.length %></td>
  <td><% var createdDate = new Date(created); print(createdDate.toLocaleDateString()) %>
  <td><% var lastUpdatedDate = new Date(last_updated); print(lastUpdatedDate.toLocaleDateString()) %></td>
  <td>
    <ul class="list-inline">
      <li>
        <% if (active === "true") { %>
          <button type="button" data-band-id="<%= band_id %>" class="btn btn-xs btn-success band-deactivate">Active</button>
        <% } else { %>
          <button type="button" data-band-id="<%= band_id %>" class="btn btn-xs btn-danger band-activate">Hidden</button>
        <% } %>
      </li>
      <li>
        <button type="button" data-band-id="<%= band_id %>" class="btn btn-xs btn-danger band-delete">Delete</button>
      </li>
    </ul>
  </td>
