      <!-- facebook stats panel -->
        <div class="panel-heading">
          <span class="panel-title"><i class="fa fa-facebook-square fa-2x"></i></span>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              <span><input id="facebook-id" type="text" value="<%= external_ids.facebook_id %>"></span>
	          <div class="btn-group" style="width: 50%; margin-left: 10%">
                <button type="button" class="btn btn-default" style="width: 40%">Actions</button>
    		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
      		      <span class="caret"></span>
		          <span class="sr-only">Toggle Dropdown</span>
     		    </button>
    		    <ul class="dropdown-menu" role="menu">
      		      <li><a class="lnk-facebook-lookup" data-search="<%= band_name %>" data-band-id="<%= band_id %>" data-toggle="modal" data-target="#admin-modal">Lookup</a></li>
      		      <li><a class="lnk-facebook-collect" data-band-id="<%= band_id %>"  data-toggle="modal" data-target="#admin-modal">Collect Now</a></li>
      		      <li><a class="lnk-facebook-clear" data-band-id="<%= band_id %>">Clear</a></li>
    	     	</ul>
              </div>
            </li>
            <li class="list-group-item">
              Total Likes <span class="badge"><%= running_stats.facebook_likes.current %></span>
            </li>
            <li class="list-group-item">
              Incremental <span class="badge"><%= running_stats.facebook_likes.incremental %></span>
            </li>
            <li class="list-group-item">
              Incremental Average <span class="badge"><%= running_stats.facebook_likes.incremental_avg %></span>
            </li>
            <li class="list-group-item">
              Errors (<%= failed_lookups.facebook %>) <span class="label label-danger pull-right"><%= running_stats.facebook_likes.error %></span>
            </li>
            <li class="list-group-item">
              Last Updated <span class="label label-info pull-right"><%= running_stats.facebook_likes.last_updated %></span>
            </li>
          </ul>
        </div>
      <!-- end facebook stats panel -->
