      <!-- lastfm stats panel -->
          <ul class="list-group">
            <li class="list-group-item">
              <form class="form-inline" role="form">
                <div class="form-group" style="width: 200px">
                  <div class="input-group">
                    <div class="input-group-addon lnk-lastfm-lookup" data-search="<%= band_name %>" data-band-id="<%= band_id%>" data-toggle="modal" data-target="#admin-modal">
                      <i class="fa fa-lastfm-square bs-tooltip" data-toggle="tooltip" title="Lookup Lastfm Id" data-placement="right"></i>
                    </div>
                    <input class="form-control" id="lastfm-id" type="text" value="<%= external_ids.lastfm_id %>">
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-sm btn-success lnk-lastfm-collect" data-band-id="<%= band_id %>"  data-toggle="modal" data-target="#admin-modal">Collect Now</button>
                </div>
    
                <div class="form-group">
                  <button class="btn btn-sm btn-danger lnk-lastfm-clear" data-band-id="<%= band_id %>">Clear</button>
                </div>
              </form>
            </li>

            <li class="list-group-item">
              <span class="label label-default"><%= running_stats.lastfm_listeners.current %> Listeners</span>
              <span class="label label-default"><%= running_stats.lastfm_listeners.incremental %> Incremental</span>
              <span class="label label-default"><%= running_stats.lastfm_listeners.incremental_avg %> Incremental Avg</span>
              <span class="label label-info"><%= running_stats.lastfm_listeners.last_updated %></span>
              <br />
              <span class="label label-danger"><%= failed_lookups.lastfm %> Errors</span>
              <span class="label label-danger"><%= running_stats.lastfm_listeners.error %></span>
            </li>
          </ul>
      <!-- end lastfm stats panel -->
