      <!-- lastfm stats panel -->
      <!-- <div class="panel panel-default"> -->
        <div class="panel-heading">
          <h3 class="panel-title">Lastfm Stats</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">

            <li class="list-group-item">
              <span><input id="lastfm-id" type="text" value="<%= external_ids.lastfm_id %>"></span>
	          <div class="btn-group" style="width: 50%; margin-left: 10%">
                <button type="button" class="btn btn-default" style="width: 40%">Actions</button>
    		    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" >
      		      <span class="caret"></span>
		          <span class="sr-only">Toggle Dropdown</span>
     		    </button>
    		    <ul class="dropdown-menu" role="menu">
      		      <li><a class="lnk-lastfm-lookup" data-search="<%= band_name %>" data-band-id="<%= band_id %>" data-toggle="modal" data-target="#admin-modal">Lookup</a></li>
      		      <li><a class="lnk-lastfm-collect" data-band-id="<%= band_id %>" data-toggle="modal" data-target="#admin-modal">Collect Now</a></li>
      		      <li><a class="lnk-lastfm-clear" data-band-id="<%= band_id %>">Clear</a></li>
    	     	</ul>
              </div>
            </li>

            <li class="list-group-item">
              Total Listeners <span class="badge"><%= running_stats.lastfm_listeners.current %></span>
            </li>
            <li class="list-group-item">
              Incremental <span class="badge"><%= running_stats.lastfm_listeners.incremental %></span>
            </li>
            <li class="list-group-item">
              Incremental Average <span class="badge"><%= running_stats.lastfm_listeners.incremental_avg %></span>
            </li>
            <li class="list-group-item">
              Error (<%= failed_lookups.lastfm %>) <span class="label label-danger pull-right"><%= running_stats.lastfm_listeners.error %></span>
            </li>
            <li class="list-group-item">
              Last Updated <span class="label label-info pull-right"><%= running_stats.lastfm_listeners.last_updated %></span>
            </li>
          </ul>
        </div>
      <!--</div>-->
      <!-- end lastfm stats panel -->
