<li class="media lastfm-lookup-item">
  <a class="lnk-lastfm-lookup-select pull-left" data-lastfm-id="<%= name %>" data-dismiss="modal">
    <img class="media-object img-rounded thumbnail-xsmall" src="<%= image[2]['#text'] %>" alt="...">
  </a>
  <div class="media-body">
    <a class="lnk-lastfm-lookup-select" data-lastfm-id="<%= name %>" data-dismiss="modal"><h4 class="media-heading"><%= name %></h4></a>
    <a href="<%= url %>" target="_blank"><%= url %></a>
    
    <ul class="list-group">
      <li class="list-group-item">Listeners: <span class="badge pull-right"><%= listeners %></span></li>
    </ul>

  </div>
</li>
