      <!-- mentions stats panel -->
        <div class="panel-heading">
          <h3 class="panel-title">Article Mentions Overall Stats</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">
              Total Mentions <span class="badge"><%= total %></span>
            </li>
            <li class="list-group-item">
              Mentions This Week <span class="badge"><%= total_this_week %></span>
            </li>
            <li class="list-group-item">
              Mentions This Month <span class="badge"><%= total_this_month %></span>
            </li>
            <li class="list-group-item">
              Last Updated <span class="label label-info pull-right"><%= last_updated %></span>
            </li>
          </ul>
        </div>
      <!-- end facebook stats panel -->
