#calendar {
  margin-left: 250px; 
  width: 800px;
  overflow: hidden;
  }

#external-events {
  float: left;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
  }

.external-event {
  margin: 10px 0;
  padding: 2px 4px;
  background: #777;
  color: #fff;
  font-size: .85em;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  }
  .external-event a {
    color: #fff;
    }
