
/* generic styles */
* {
  font-family: sans-serif;
  }

body{
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  }

a {color:#30173a; text-decoration: none; outline:none;}
a:visited {color:#666666; text-decoration: none;}
a:focus {outline:none;}
a:hover, a:active {text-decoration: underline; outline:none;}

.menu {
  background-color: #000;
  color: #fff;
  line-height: 20px;
  padding: 10px;
  }
  .menu a {
    color: #fff;
    }

.navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
 }
 .navlist + form {
    position: absolute;
    right: 10px;
    top: 3px;
    }

#logout {
  float: right;
  margin-top: -10px;
  }

.submenu {
  }

.content {
  padding: 5px 5px 200px 5px;
  margin-bottom: 55px;
  height: 100%;
  }

.footer {
  width: 100%;
  position: fixed; 
  bottom: 0;
  margin-top: 20px;
  background-color: black;
  color: white;
  line-height: 35px;
  text-align: right;
  font-size: 10px;
  }
  .footer a {
    color: #fff;
    }

.clearboth {
  clear: both;
  }

.clearleft {
  clear: left;
  }

.clearright {
  clear: right;
  }

.hidden {
  height: 0px
  width: 0px;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  }

/*navigation */
nav.external-ids {
  padding-top: 15px;
  height: 26px;
  overflow: hidden;
  }
  nav.external-ids ul {
    margin: 0;
    padding: 0;
    text-align: left;
    }
    nav.external-ids ul li {
      display: inline;
      }
      nav.external-ids ul li a {
        position: relative;
        top: 3px;
        color: #fff;
        text-decoration: none;
        background: #333;
        border-radius: 3px 3px 0 0;
        padding: 10px 20px;
        box-shadow: 0 1px 10px #000;
        text-shadow: 1px 1px #000;
        }
        nav.external-ids ul li a:hover {
          top: 2px;
          }
        nav.external-ids ul li a.active {
          background: #666;
          top: 1px;
          z-index: 100;
          }
          nav.external-ids ul li a.active:hover {
            top: 0;
            }

/* set default tab display states */
.tabs {
  }
  .tabs > div {
    display: none;
    padding: 15px;
    }
    .tabs > div:nth-of-type(1) {
      display: block;
      }

/* login page elements */
.flash-message {
  color: red;
  width: 400px;
  padding: 5px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }

.login-form {
  width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  }
  .login-form fieldset {
    border-radius: 10px;
    border: solid 3px #999;
    box-shadow: 0 0 3px #000;

    }
.login-menu {
  background-color: #000;
  color: #fff;
  padding: 1px 10px 1px 10px;
  margin-bottom: 30px;
  }

/** Job Page Elements **/
.job-sub-menu {
  position: relative;
  text-align: right;
  background-color: #ccc;
  line-height: 10px;
  padding: 3px;  
  }
  .job-sub-menu a {
    color: #000;
    }
  .job-sub-menu .navlist {
    line-height: 24px;
    margin-right: 220px;
    }

/** Site Page Elements **/
.site-sub-menu {
  position: relative;
  text-align: right;
  background-color: #ccc;
  line-height: 10px;
  padding: 3px;  
  }
  .site-sub-menu a {
    color: #000;
    }
  .site-sub-menu .navlist {
    line-height: 24px;
    margin-right: 220px;
    }

/** Band Page Elements **/
.band-sub-menu {
  position: relative;
  text-align: right;
  background-color: #ccc;
  line-height: 10px;
  padding: 3px;  
  }
  .band-sub-menu a {
    color: #000;
    }
  .band-sub-menu .navlist {
    line-height: 24px;
    margin-right: 220px;
    }

.band-image {
  float: left;
  padding: 5px;
  }
  .band-image img {
    width: 200px;
    height: 200px;
    }

#bs-external-ids {
  width: 400px;
 }

.bs-lookup-matches {
  position: absolute;
  left: 350px;
  top: 90px;
  width: 500px;
  height: 400px;
  background: white;
  padding: 5px;
  overflow: scroll;
  z-index: 1000;
  display: none;
  border: solid 1px #adadad; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
 }

.bs-lookup-match {
  margin-left: 40px;
  font-size: 12px;
  margin-bottom: 5px;
  min-height: 80px;
  border-bottom: dashed 1px #adadad;
  padding: 5px;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  }
  .bs-lookup-match.active {
    background-color: #CCF;
    } 
  .bs-lookup-match div {
    width: 300px;
    min-height: 140px; 
    }
  .bs-lookup-match p {
    font-size: 12px;
    line-height: 8px;
    }
  .bs-lookup-match img {
    float: left;
    margin-right: 5px;
    width: 75px;
    height: 75px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    }

.bs-lookup-close {
  text-align: right;
  }

.bs-bio-link:hover + div {
  display: inline;
}

.bs-lookup-match-bio {
  position: absolute;
  display: none;
  background: white;
  width: 250px;
  margin-left: 70px;
  margin-top: -60px;
  padding: 5px;
  overflow: scroll;
  z-index: 1001;
  border: solid 1px #adadad; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  } 
  .bs-lookup-match-bio:hover {
    display: inline; 
    } 

.bs-external-ids-form {
  float: left;
  margin-right: 10px;
  }

.bs-external-ids-profile {
  padding: 3px;
  font-size: 10px; 
  line-height: 10px; 
  }

.facebook-profile-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    }

.lastfm-profile-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    }

/* overlay stuff */
#overlay {
  display: none;
  background: #fff;
  opacity: .75;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  }

/* modal styles */
#modal {
  display: none;
  background: #fff; 
  border-radius: 10px;
  border: solid 3px #999;
  box-shadow: 0 0 3px #000;
  position: absolute;
  overflow-x: hidden;
  top: 10%; 
  /* bottom: 10%; */
  max-height: 80%;
  width: calc(50% - 10px);
  left: 50%;
  margin: 0 0 0 -25%;
  z-index: 200;
  padding: 5px;
  }
  #modal.alert {
    text-align: center;
    width: 290px;
    margin-left: -150px;
    }
  #modal.loading {
    background: url(../images/bg_loading.gif) center center no-repeat #fff;
    }
  #modal #modal-close {
    background: url(../images/bg_close.png) 0 0 no-repeat transparent;
    position: absolute;
    top: 11px;
    right: 11px;
    overflow: hidden;
    height: 19px;
    width: 19px;
    text-indent: -10000em;
    }
  #modal #bsc-region-grandparents-list {
    list-style: none;
    margin: 10px;
    padding: 0;
    }
    #modal #bsc-region-grandparents-list ul {
      list-style: none;
      margin: none;
      padding: 0;
      }
    #modal #bsc-region-grandparents-list h4 {
      margin: 0;
      line-height: 20px;
      font-size: 14px;
      /*font-weight: normal;*/
      text-indent: 18px;
      color: #333;
      }
    #modal #bsc-region-grandparents-list > li {
      width: 25%;
      float: left;
      white-space: nowrap;
      }
    #modal .bsc-region-parent {
      position: relative;
      }
      #modal .bsc-region-parent > ul li:nth-of-type(odd) {
        background: #ececec;
        }
      #modal .bsc-region-parent h4 {
        cursor: pointer;
        }
      #modal .bsc-region-parent input[type=checkbox] {
        position: absolute;
        left: 0;
        top: 3px;
        }
      #modal .bsc-region-parent label {
        text-indent: 18px;
        display: block;
        font-size: 14px;
        line-height: 20px;
        }
        #modal .bsc-region-child {
          position: relative;
          }
          #modal .bsc-region-child-list {
            overflow: hidden;
            height: 0;
            }
          #modal input[type=checkbox]:checked + label + .bsc-region-child-list {
            overflow: visible;
            height: auto;
            }
            #modal .bsc-region-child-list li {
              margin: 0 0 0 8px;
              }
          #modal .bsc-region-child-list:before {
            content: "+";
            position: absolute;
            top: 0;
            left: -15px;
            }
          #modal .bsc-region-child > ul li:nth-of-type(odd) {
            background: #ececec;
            }
          #modal .bsc-region-child h4 {
            cursor: pointer;
            }
          #modal .bsc-region-child input[type=checkbox] {
            position: absolute;
            left: 0;
            top: 3px;
            }
          #modal .bsc-region-child label {
            text-indent: 18px;
            display: block;
            font-size: 14px;
            line-height: 20px;
            }
