
/* generic styles */
* {
  font-family: sans-serif;
  }

body{
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
  }

a {color:#30173a; text-decoration: none; outline:none;}
a:visited {color:#666666; text-decoration: none;}
a:focus {outline:none;}
a:hover, a:active {text-decoration: underline; outline:none;}

.menu {
  background-color: #000;
  color: #fff;
  line-height: 20px;
  padding: 10px;
  }
  .menu a {
    color: #fff;
    }

.navlist li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
 }

.submenu {
  }

.content {
  padding: 5px;
  margin-bottom: 55px;
  height: 100%;
  }

.footer {
  width: 100%;
  position: fixed; 
  bottom: 0;
  margin-top: 20px;
  background-color: black;
  color: white;
  line-height: 35px;
  text-align: right;
  font-size: 10px;
  }
  .footer a {
    color: #fff;
    }

.clearboth {
  clear: both;
  }

.clearleft {
  clear: left;
  }

.clearright {
  clear: right;
  }

/*navigation */
nav.external-ids {
  padding-top: 15px;
  height: 26px;
  overflow: hidden;
  }
  nav.external-ids ul {
    margin: 0;
    padding: 0;
    text-align: left;
    }
    nav.external-ids ul li {
      display: inline;
      }
      nav.external-ids ul li a {
        position: relative;
        top: 3px;
        color: #fff;
        text-decoration: none;
        background: #333;
        border-radius: 3px 3px 0 0;
        padding: 10px 20px;
        box-shadow: 0 1px 10px #000;
        text-shadow: 1px 1px #000;
        }
        nav.external-ids ul li a:hover {
          top: 2px;
          }
        nav.external-ids ul li a.active {
          background: #666;
          top: 1px;
          z-index: 100;
          }
          nav.external-ids ul li a.active:hover {
            top: 0;
            }

/* set default tab display states */
.tabs {
  }
  .tabs > div {
    display: none;
    padding: 15px;
    }
    .tabs > div:nth-of-type(1) {
      display: block;
      }


/** Site Page Elements **/
.site-sub-menu {
  text-align: right;
  background-color: #ccc;
  line-height: 10px;
  padding: 3px;  
  }
  .site-sub-menu a {
    color: #000;
    }
  .site-sub-menu .navlist {
    float: left;
    line-height: 24px;
    width: 935px;
    }

/** Band Page Elements **/
.band-sub-menu {
  text-align: right;
  background-color: #ccc;
  line-height: 10px;
  padding: 3px;  
  }
  .band-sub-menu a {
    color: #000;
    }
  .band-sub-menu .navlist {
    float: left;
    line-height: 24px;
    width: 935px;
    }

.band-image {
  float: left;
  padding: 5px;
  }
  .band-image img {
    width: 200px;
    height: 200px;
    }

#bs-external-ids {
  width: 400px;
 }

.bs-lookup-matches {
  position: absolute;
  left: 350px;
  top: 90px;
  width: 500px;
  height: 400px;
  background: white;
  padding: 5px;
  overflow: scroll;
  z-index: 1000;
  display: none;
  border: solid 1px #adadad; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
 }

.bs-lookup-match-group {
  }

.bs-lookup-match {
  margin-left: 40px;
  font-size: 12px;
  margin-bottom: 5px;
  min-height: 80px;
  border-bottom: dashed 1px #adadad;
  padding: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  }
  .bs-lookup-match.active {
    background-color: #CCF;
    } 
  .bs-lookup-match div {
    width: 300px;
    min-height: 140px; 
    }
  .bs-lookup-match p {
    font-size: 12px;
    line-height: 8px;
    }
  .bs-lookup-match img {
    float: left;
    margin-right: 5px;
    width: 75px;
    height: 75px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    }

.bs-lookup-close {
  text-align: right;
  }

.bs-bio-link:hover + div {
  display: inline;
}

.bs-lookup-match-bio {
  position: absolute;
  display: none;
  background: white;
  width: 250px;
  margin-left: 70px;
  margin-top: -60px;
  padding: 5px;
  overflow: scroll;
  z-index: 1001;
  border: solid 1px #adadad; 
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  } 
  .bs-lookup-match-bio:hover {
    display: inline; 
    } 

.bs-external-ids-form {
  float: left;
  margin-right: 10px;
  }

.bs-external-ids-profile {
  padding: 3px;
  font-size: 10px; 
  line-height: 10px; 
  }

.facebook-profile-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    }

.lastfm-profile-img {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 10px;
    }
