<!-- Modal -->
<div class="modal fade" id="admin-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close btn-close-modal" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="admin-modal-title">Modal title</h4>
      </div>
     
      <div class="row">
        <div class="modal-flash-message alert col-md-4" style="display:none;"></div> 
      </div>

      <div class="admin-modal-content">
      </div>

      <div class="modal-footer">
        <button id="modal-close" type="button" class="btn btn-default btn-close-modal" data-dismiss="modal">Close</button>
        <button id="modal-save" type="button" class="btn btn-primary btn-save-modal" data-trigger-event="" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
