<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Bands Dashboard</h3>
  </div>
  <div id='bands-dashboard-content' class="panel-body">
    <ul class="list-inline">
    <li style="min-width: 250px">
      <ul class="list-group">
        <li class="list-group-item">Good <span id='good' style="background-color: #5cb85c" class="badge">0</span></li>
        <li class="list-group-item">Missing All External Ids <span id='missing-both' style="background-color: #5cb85c" class="badge">0</span></li>
        <li class="list-group-item">All External Ids Bad <span id='bad-both' style="background-color: #7F0003" class="badge">0</span></li>
        <li class="list-group-item">Missing Facebook Id <span id='missing-facebook' style="background-color: #FF0007" class="badge">0</span></li>
        <li class="list-group-item">Bad Facebook Id <span id='bad-facebook' style="background-color: #5ACCBB" class="badge">0</span></li>
        <li class="list-group-item">Missing Lastfm Id <span id='missing-lastfm' style="background-color: #B200B2" class="badge">0</span></li>
        <li class="list-group-item">Bad Lastfm Id <span id='bad-lastfm' style="background-color: #0EB29A" class="badge">0</span></li>
        <li class="list-group-item">Total <span id='total' class="badge">0</span></li>
      </ul>
    </li>

    <li>
      <canvas id='chart-valid-bands-pie' height="250" width="250"></canvas>
    </li>

  </div>
</div>
