<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Top Bands Dashboard</h3>
  </div>
  <div id='bands-dashboard-content' class="panel-body">
    <ul class="list-inline">
    <li style="min-width: 250px">
      <ul class="list-group">
        <li class="list-group-item">Top Facebook Likes: band</li>
        <li class="list-group-item">Top Lastfm Listeners: band</li>
        <li class="list-group-item">Top Article Mentions: band</li>
      </ul>
    </li>

  </div>
</div>
