<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Users Dashboard</h3>
  </div>
  <div id='users-dashboard-content' class="panel-body">
    <ul class="list-group">
      <li class="list-group-item">Total Users <span id='total-users' class="badge">0</span></li>
      <li class="list-group-item">Active Users <span id='active-users' class="badge">0</span></li>
      <li class="list-group-item">Currently Online <span id='online-users' class="badge">0</span></li>
    </ul>
  </div>
</div>
