<ol class="breadcrumb">
  <li><a href="#sites">Sites</a></li>
  <li class="active"><%= site_name %></li>
</ol>

<div class="row">
    <form class="form-horizontal span12">
        <fieldset>
            <br/>
            <div class="row">
                <div class="col-lg-6 form-group">
                        <label for="siteId" class="control-label">Id:</label>
                        <div class="controls">
                            <input id="siteId" name="site_id" type="text" value="<%= site_id === null ? '' : site_id %>" class="span2" disabled/>
                        </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="site-name" class="control-label">Name:</label>
                    <div class="controls">
                        <input type="text" id="site-name" value="<%= site_name %>"/>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 form-group">
                    <label for="site-url" class="control-label">Feed Url:</label>
                    <div class="controls">
                        <input type="text" size="70" id="site-url" value="<%= site_url %>"/>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="band-name-field" class="control-label">Band Name Field:</label>
                    <div class="controls">
                        <select size="2" id="band-name-field" class="form-control bs-popover-select">
                        <% for (var i = 0; i < articleFields.length; i++) { %>
                          <% 
                             var article = articles[1]; 
                             var thisField = articleFields[i];
                             var exampleValue = article[thisField]; 
                          %>
                          <option data-title="<%= articleFields[i] %>" data-content="<%= exampleValue %>" <% if (band_name_field === articleFields[i]) { %>selected<% } %>>
                            <%= articleFields[i] %>
                          </option>
                        <% } %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="description-field" class="control-label">Description Field:</label>
                    <div class="controls">
                        <select size="2" id="description-field" class="form-control bs-popover-select">
                        <% for (var i = 0; i < articleFields.length; i++) { %>                         
                          <% 
                            var article = articles[1];
                            var thisField = articleFields[i];
                            var exampleValue = article[thisField]; 
                          %>
                          <option data-title="<%= articleFields[i] %>" data-content="<%= exampleValue %>" <% if (description_field === articleFields[i]) { %>selected<% } %>>
                            <%= articleFields[i] %>
                          </option>
                        <% } %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="publish-date-field" class="control-label">Publish Date Field:</label>
                    <div class="controls">
                        <select size="2" id="publish-date-field" class="form-control bs-popover-select">
                        <% for (var i = 0; i < articleFields.length; i++) { %>                         
                          <% 
                            var article = articles[1];
                            var thisField = articleFields[i];
                            var exampleValue = article[thisField]; 
                          %>
                          <option data-title="<%= articleFields[i] %>" data-content="<%= exampleValue %>" <% if (publish_date_field === articleFields[i]) { %>selected<% } %>>
                            <%= articleFields[i] %>
                          </option>
                        <% } %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 form-group">
                    <label for="linkField" class="control-label">Link Field:</label>
                    <div class="controls">
                        <select size="2" id="link-field" class="form-control bs-popover-select">
                        <% for (var i = 0; i < articleFields.length; i++) { %>                         
                          <% 
                            var article = articles[1];
                            var thisField = articleFields[i];
                            var exampleValue = article[thisField]; 
                          %>
                          <option data-title="<%= articleFields[i] %>" data-content="<%= exampleValue %>" <% if (link_field === articleFields[i]) { %>selected<% } %>>
                            <%= articleFields[i] %>
                          </option>
                        <% } %>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 form-group">
                    <div class="well">
                        <p><img id="picture" width="180" src="<%= site_image_src === null ? 'pics/generic.jpg' : site_image_src  %>"/></p>
                        <p>To change the picture, drag a new picture from your file system onto the box above.</p>
                    </div>
                </div>
            </div>

        </fieldset>

        <div class="form-actions">
            <a id="site-save" href="#" class="btn btn-primary save">Save</a>
            <a id="site-delete" href="#" class="btn btn-danger delete">Delete</a>
        </div>
    </form>

    <br />

    <h4>Latest Articles</h4>

    <div class="panel-group" id="accordion">
      <% for (var i = 0; i < articles.length; i++) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title bs-tooltip" data-toggle="tooltip" data-placement="top" title="title field">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%= i %>">
                <%= articles[i].title %>
              </a>
            </h4>
          </div>
          <% if (i === 0) { %>
            <div id="collapse<%= i %>" class="panel-collapse collapse in">
          <% } else { %>
            <div id="collapse<%= i %>" class="panel-collapse collapse">
          <% } %>
            <div class="panel-body bs-tooltip" data-toggle="tooltip" data-placement="top" title="description field">
              <%= articles[i].description %>
            </div>
          </div>
        </div>
      <% } %>  
    </div>
</div>

<div class="row status-bar">
    <div class="span12">
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Site saved successfully
        </div>
    </div>
</div>
