   <td>
      <a href="#jobs/<%= job_id %>" class="list plain">
      <h5><%= job_name %></h5>
     </a>
   </td>
   <td>
     <%= readable_last_run %>
   </td>

   <td>
     <%= readable_duration %>
   </td>

   <td>
    <% if (job_processed > 0) { %>
      <span class="badge pull-right">
        <%= job_processed %>
      </span>
    <% }  %>
   </td>

   <td>
    <% if (job_failed > 0) { %>
      <span class="badge pull-right alert-danger">
        <%= job_failed %>
      </span>
    <% }  %>
   </td>

   <td>
     <%= job_schedule %>
   </td>

   <td>
    <ul class="list-inline">
      <li>
        <% if (job_active == "true" ) { %>
          <button type="button" data-job-id="<%= job_id %>" class="btn btn-xs btn-success job-deactivate">Active</button>
        <% } else { %>
          <button type="button" data-job-id="<%= job_id %>" class="btn btn-xs btn-danger job-activate">Inactive</button>
        <% }  %>
      </li>
      <li>
        <button type="button" data-job-id="<%= job_id %>" class="btn btn-xs btn-primary btn-run-job">Run Now</button>
      </li>
      <li>
        <button type="button" data-band-id="<%= job_id %>" class="btn btn-xs btn-danger job-delete">Delete</button>
      </li>
   </td>
