<ol class="breadcrumb">
  <li><a href="#jobs">Jobs</a></li>
  <li class="active"><%= job_name %></li>
</ol>

    <form role="form">
        <fieldset>
        <div class="row">
            <div class="col-lg-6">
                <label for="job-id" class="control-label">Id:</label>
                <div class="controls">
                    <input class="form-control" id="job-id" name="job_id" type="text" value="<%= job_id === null ? '' : job_id %>" class="span2" disabled/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label for="job-name" class="control-label">Name:</label>
                <div class="controls">
                    <input class="form-control" type="text" id="job-name" name="job_name" value="<%= job_name %>"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label for="job-command" class="control-label">Command:</label>
                <div class="controls">
                    <input class="form-control" type="text" id="job-command" name="job_command" value="<%= job_command %>"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label for="job-arguments" class="control-label">Arguments:</label>
                <div class="controls">
                    <input class="form-control" type="text" id="job-arguments" name="job_arguments" value="<%= job_arguments %>"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label for="job-schedule" class="control-label">Schedule:</label>
                <div class="controls">
                    <input class="form-control" type="text" id="job-schedule" name="job_schedule" value="<%= job_schedule %>"/>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label for="job-description" class="control-label">Description:</label>
                <div class="controls">
                    <input class="form-control" type="text" id="job-description" name="description" value="<%= job_description %>"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <label for="job-active" class="control-label">Active: </label>
                <div class="controls">
                    <input class="form-control" type="checkbox" id="job-active" name="active" value="true" <%= job_active == "true" ? 'checked' : '' %>/>
                </div>
            </div>
        </div>

        </fieldset>

        <div class="form-actions">
            <a href="#" id="job-save" class="btn btn-primary save">Save</a>
            <a href="#" id="job-delete" class="btn delete">Delete</a>
        </div>

    </form>


