   <td>
      <a href="#jobs/<%= job_id %>" class="list plain">
      <h5><%= job_name %></h5>
     </a>
   </td>
   <td>
     <%= readable_last_run %>
   </td>

   <td>
     <%= readable_duration %>
   </td>

   <td>
    <% if (job_processed > 0) { %>
      <span class="badge pull-right">
        <%= job_processed %>
      </span>
    <% }  %>
   </td>

   <td>
    <% if (job_failed > 0) { %>
      <span class="badge pull-right alert-danger">
        <%= job_failed %>
      </span>
    <% }  %>
   </td>

   <td>
     <%= job_schedule %>
   </td>

   <td>
     <% if (job_active == "true" ) { %>
        <span class="label label-success">Active</span>
     <% } else { %>
        <span class="label label-danger">Inactive</span>
     <% }  %>
   </td>

   <td>
     <button data-job-id="<%= job_id %>" class="btn btn-primary btn-run-job">Run Now</button>
   </td>
